body {
    margin: 0;
    padding: 0;
}
nav {
    padding: 15px;
    background-color: #d3d3d3;
    display: block;
    width: 100%;
}
ul {
    margin: 0;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
nav ul li {
    display: inline-block;

}
li a {
    padding: 18px;
    border-radius: 8px;
    text-decoration: none;
    color: #009900;
    font-family: 'Helvetica';
}

a:hover {
    background-color: #009900;
    cursor: pointer;
    color: white;
}